.data-table-container {
  width: 100%;
  margin: 0 auto;
}

.data-table-controller,
.data-table-wrapper,
.data-table {
  width: 100%;
}

.data-table-wrapper {
  overflow-x: auto;
}

.data-table {
  margin: 0 auto;
  border-collapse: collapse;
  overflow-y: auto;
}

/* Set style for each tr */
.data-table tbody > tr {
  position: relative;
}

/* Set style for first tr */
.data-table thead > tr {
  border-bottom: 2px solid rgba(var(--color-outline));
}

/* Set style for td */
.data-table tr > td {
  padding: 12px 18px;
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Set style for even tr */
.data-table tbody > tr:nth-child(odd) {
  background-color: rgba(var(--color-outline), .5);
}

/* Set style for controller */
.data-table-controller {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

/* Set style for wrapper */
.data-table-wrapper {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(var(--color-on-background));
}